/* App.css */
.App {
  text-align: center;
}

.recipe-container {
  display: flex;
  justify-content: space-between; /* Adjusted to space-between for better alignment */
}

.welcome-page {
  margin: 0; /* Remove top margin */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  height: 100vh; /* Take full viewport height */
  text-align: center; /* Center the text */
  width: 100%; /* Ensure the content takes full width */
  position: absolute; /* Positioning to center the content */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
}

.recipe-form {
  margin: 20px;
  font-size: 14px; /* Smaller font size */
  flex: 1; /* Allow the form to take up available space */
  text-align: center; /* Center the form content */
}

.recipe-form .input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between inputs */
  margin-bottom: 20px; /* Space below the input group */
}

.recipe-form .complete-recipe-button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.recipe-form .complete-recipe-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.recipe-form input[type="number"] {
  width: 72px; /* Adjust width to fit 6 numerical characters */
}

.ingredient-list {
  margin: 20px;
  font-size: 12px; /* Smaller font size */
  flex: 1; /* Allow the list to take up available space */
  text-align: left; /* Align text to the left */
}

  .ingredient-list ul {
    list-style-type: none;
    padding: 0;
  }

  .ingredient-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0; /* Reduced padding */
  }

.remove-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.remove-button:hover {
  color: darkred;
}

.search-bar { 
  position: relative; 
  display: inline-block; /* Ensure the search bar and suggestions list are treated as inline-block */
}

.suggestions-list { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  position: absolute;
  left: 0;
  width: 100%; 
  border: 1px solid #ccc; 
  background-color: #fff; 
  max-height: 150px; 
  overflow-y: auto; 
  z-index: 1; 
  font-size: 12px; /* Smaller font size */ 
} 
  
  .suggestions-list li { 
    padding: 8px; 
    cursor: pointer; 
  } 
  
  .suggestions-list li:hover { 
    background-color: #f0f0f0; /* Highlight background on hover */ 
  }

.nutrition-table-container {
  margin: 20px;
}

.nutrition-table {
  width: auto; /* Adjust width to fit content */
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 12px; /* Reduced font size */
}

.nutrition-table th, .nutrition-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.nutrition-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.nutrition-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.nutrition-table tr:hover {
  background-color: #ddd;
}

.nutrition-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.nutrition-table td:nth-child(1) {
  text-align: left; /* Align first column to the left */
}

/* Ensure columns adjust to the largest element */
.nutrition-table th:nth-child(1),
.nutrition-table td:nth-child(1) {
  width: auto;
}

.nutrition-table th:nth-child(2),
.nutrition-table td:nth-child(2) {
  width: auto;
}

.nutrition-table th:nth-child(3),
.nutrition-table td:nth-child(3) {
  width: auto;
}

.nutrition-table th:nth-child(4),
.nutrition-table td:nth-child(4) {
  width: auto;
}

/* Style for the last row */
.nutrition-table tr:last-child {
  background-color: #e0e0e0; /* Slightly dark gray */
}

.carbon-impact-table-container {
  margin: 20px;
}

.carbon-impact-title {
  text-align: left; /* Align the title to the left */
}

.carbon-impact-table-container p {
  font-size: 10px; /* Small font size */
  font-style: italic; /* Italic text */
  text-align: left; /* Align the text to the left */
}

/* Reuse the same styles for the carbon impact table */
.carbon-impact-table-container .carbon-impact-table {
  width: auto; /* Adjust width to fit content */
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 12px; /* Reduced font size */
}

.carbon-impact-table-container .carbon-impact-table th, 
.carbon-impact-table-container .carbon-impact-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.carbon-impact-table-container .carbon-impact-table th {
  background-color: yellow; /* Yellow background color for headers */
  text-align: left;
}

.carbon-impact-table-container .carbon-impact-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.carbon-impact-table-container .carbon-impact-table tr:hover {
  background-color: #ddd;
}

.carbon-impact-table-container .carbon-impact-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: black; /* Black text color */
}

.carbon-impact-table-container .carbon-impact-table td:nth-child(1) {
  text-align: left; /* Align first column to the left */
}

/* Ensure columns adjust to the largest element */
.carbon-impact-table-container .carbon-impact-table th:nth-child(1),
.carbon-impact-table-container .carbon-impact-table td:nth-child(1) {
  width: auto;
}

.carbon-impact-table-container .carbon-impact-table th:nth-child(2),
.carbon-impact-table-container .carbon-impact-table td:nth-child(2) {
  width: auto;
}

.carbon-impact-table-container .carbon-impact-table th:nth-child(3),
.carbon-impact-table-container .carbon-impact-table td:nth-child(3) {
  width: auto;
}

.carbon-impact-table-container .carbon-impact-table th:nth-child(4),
.carbon-impact-table-container .carbon-impact-table td:nth-child(4) {
  width: auto;
}

/* Style for the last row */
.carbon-impact-table-container .carbon-impact-table tr:last-child {
  background-color: #e0e0e0; /* Slightly dark gray */
}

/* Ensure columns adjust to the largest element */
.carbon-impact-table-container .nutrition-table th:nth-child(1),
.carbon-impact-table-container .nutrition-table td:nth-child(1) {
  width: auto;
}

.carbon-impact-table-container .nutrition-table th:nth-child(2),
.carbon-impact-table-container .nutrition-table td:nth-child(2) {
  width: auto;
}

.carbon-impact-table-container .nutrition-table th:nth-child(3),
.carbon-impact-table-container .nutrition-table td:nth-child(3) {
  width: auto;
}

.carbon-impact-table-container .nutrition-table th:nth-child(4),
.carbon-impact-table-container .nutrition-table td:nth-child(4) {
  width: auto;
}

/* Ensure columns adjust to the largest element */
.carbon-impact-table-container .carbon-impact-table th:nth-child(1),
.carbon-impact-table-container .carbon-impact-table td:nth-child(1) {
  width: auto;
}

.carbon-impact-table-container .carbon-impact-table th:nth-child(2),
.carbon-impact-table-container .carbon-impact-table td:nth-child(2) {
  width: auto;
}

.carbon-impact-table-container .carbon-impact-table th:nth-child(3),
.carbon-impact-table-container .carbon-impact-table td:nth-child(3) {
  width: auto;
}

.carbon-impact-table-container .carbon-impact-table th:nth-child(4),
.carbon-impact-table-container .carbon-impact-table td:nth-child(4) {
  width: auto;
}

/* Styles for the ingredient table */
.ingredient-table {
  width: auto; /* Adjust width to fit content */
  border-collapse: collapse;
  font-size: 12px; /* Reduced font size */
  height: auto; /* Adjust height to fit content */
}

.ingredient-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.ingredient-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ingredient-table tr:hover {
  background-color: #ddd;
}

/* Ensure columns adjust to the largest element */
.ingredient-table td:nth-child(1) {
  width: auto;
}

.ingredient-table td:nth-child(2) {
  width: auto;
}

.table-title {
  text-align: left; /* Align the title to the left */
}