/* App.css */
.App {
  text-align: center;
}

.recipe-container {
  display: flex;
  justify-content: space-around;
}

.welcome-page {
  margin-top: 50px;
}

.recipe-form {
  margin: 20px;
}

.ingredient-list {
  margin: 20px;
}

.search-bar { 
  position: relative; 
  display: inline-block; /* Ensure the search bar and suggestions list are treated as inline-block */
}

.suggestions-list { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  position: absolute;
  left: 0;
  width: 100%; 
  border: 1px solid #ccc; 
  background-color: #fff; 
  max-height: 150px; 
  overflow-y: auto; 
  z-index: 1; 
  font-size: 12px; /* Smaller font size */ 
} 
  
  .suggestions-list li { 
    padding: 8px; 
    cursor: pointer; 
  } 
  
  .suggestions-list li:hover { 
    background-color: #f0f0f0; /* Highlight background on hover */ 
  }